h1{
    color: white;
    background: #0F4452;
    font-family:'Trebuchet MS';
    text-align: center;
    
}
body{
    color: white;
    background: #0F4452;
    font-family: "Trebuchet MS";
    text-align: center;
}